<div ng-controller="ObjectsController as ObjectsVM">
  <md-button class="md-raised md-primary" ng-click="ObjectsVM.getObjects()">
      Get objects
  </md-button>
  <md-button class="md-raised md-warn" ng-click="ObjectsVM.getCount()">
      Count objects
  </md-button>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="object in ObjectsVM.model.objects">
      <div class="md-list-item-text">
        <h3>Object</h3>
        <p>object.custom</p>
      </div>
    </md-list-item>
  </md-list>
  <div ng-show="ObjectsVM.model.count">
    <h3>There are {{ ObjectsVM.model.count }} objects</h3>
  </div>
</div>
